body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    margin: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

h1 {
    color: #6a0572;
}

div {
    margin: 20px 0;
}

img {
    max-width: 100%;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 5px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #6a0572;
}

p {
    margin: 5px 0;
    color: #333;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 15px;
    margin: 10px 0;
    width: 80%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    background-color: #6a0572;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}